@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald&family=Secular+One&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    background-color: #ffd8af;
}

* p {
    font-size: 17px;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
@media (max-width: 726px) {
    
    header {
        background-image: url(head.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 250px;
        display: flex;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        border-bottom: solid white 10px;
    }
    
    .text-head {
        color: black;
        background-color: rgba(255, 255, 255, 0.795); 
        border-radius: 10px;
        padding: 10px;
    }
    
    .upward {
        position: fixed;
        bottom: 600px;
        right: 40px;
        width: 40px;
        height: 40px;
        background: url(arrow_up.png);
        background-size: cover;
        z-index: 1;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
    }
    
    .upward.active {
        bottom: 40px;
        visibility: visible;
        opacity: 1;
    }
    
    .menu {
        color: black;
        margin: 60px auto 10px auto;
        width: 200px;
    }
    
    .menu a:link,
    .menu a:visited {
        text-decoration: none;
        color: black;
        font-size: 17px;
    }
    
    .menu a:hover,
    .menu a:focus {
        color: #878787;
        transition: 0.5s;
    }
    
    .text-in-block {
        font-size: 17px;
        margin: 20px auto 0 auto;
        flex-wrap: wrap;
        width: 250px;
    }
    
    h2 {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 80px;
    }
    
    .command {
        display: block;
    }
    
    
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        margin-top: 50px;
    }
    .pupil1 {
        margin: 0 auto;
        background-image: url(me.jpg);
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 300px;
    }
    .pupil2 {
        margin: 0 auto;
        background-image: url(Kate.jpg);
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 300px;
    }
    
    .outer-div {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        margin-top: 50px;
        display: block;
        justify-content: center;
    }
    
    .inner-div {
        display: inline-block;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
    }
    
    .name {
        margin: 0 auto;
        display: flex;
        text-align: center;
        width: 220px;
        background-color: #ffa047;
        text-align: center;
        margin-bottom: 20px;
        padding: 10px;
        transform: skew(-40deg);
        border: solid black 1px;
    }
    
    .name p {
        transform: skew(40deg);
        background-color: #ffa047;
        border-radius: 30px;
        text-align: center;
        width: 190px;
    }
    
    .name:hover,
    .name:link,
    .name:visited,
    .name:active,
    .name:focus {
        color: black;
        text-decoration: none;
        text-align: center;
    }
    
    h3 {
        text-align: center;
        margin-top: 40px;
    }
    
    hr {
        display: block;
        unicode-bidi: isolate;
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
        -webkit-margin-start: auto;
        -webkit-margin-end: auto;
        overflow: hidden;
        border: none;
        height: 2px;
        color: #ffa047;
        background-color: #ffa047;
        margin-top: -40px;
        width: 400px;
    }
    
    .h3 {
        display: block;
        unicode-bidi: isolate;
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
        -webkit-margin-start: auto;
        -webkit-margin-end: auto;
        overflow: hidden;
        border: none;
        border-top: 2px dotted #ddd;
        color: black;
        background-color: black;
        margin-top: 40px;
        width: 300px;
    }
    
    iframe {
        margin: 0 auto;
        width: 300px;
        height: 300px;
    }
    
    .stage {
        margin: 30px auto 10px auto;
        width: 500px;
    }
    
    .about-text1 {
        width: 300px;
        display: inline-block;
    }
    
    .about-text2 {
        width: 300px;
        display: inline-block;
    }
    
    .about {
        display: block;
        margin: 0 auto;
    }
    
    /* Базовые стили слоя затемнения и модального окна  */
    .overlay {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        visibility: hidden;
        /* фон затемнения */
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        position: fixed;
        /* фиксированное поцизионирование */
        cursor: default;
        /* тип курсара */
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
    }
    
    .overlay:target {
        visibility: visible;
        opacity: 1;
    }
    
    .is-image {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        margin: 10;
        width: 100%;
        height: auto;
        /* скругление углов встроенных картинок */
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
    }
    
    /* встроенные элементы м-медиа, фреймы */
    embed,
    iframe {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        margin: auto;
        min-width: 320px;
        max-width: 600px;
        width: 100%;
    }
    
    .popup h1 {
        /* заголовок 1 */
        color: #008000;
        text-align: left;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        font: 24px 'Trebuchet MS', Helvetica, sans-serif;
        font-weight: bold;
    }
    
    .popup h2 {
        /* заголовок 2 */
        color: #008000;
        text-align: left;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        font: 22px 'Trebuchet MS', Helvetica, sans-serif;
    }
    
    /*** Формируем стили модального окна ***/
    .popup {
        top: 0;
        right: 0;
        left: 0;
        font-size: 14px;
        z-index: 10;
        display: block;
        visibility: hidden;
        margin: 0 auto;
        width: 90%;
        min-width: 320px;
        max-width: 600px;
        /* фиксированное позиционирование, окно стабильно при прокрутке */
        position: fixed;
        padding: 15px;
        border: 1px solid #383838;
        /* скругление углов */
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        background-color: #FFFFFF;
        /* внешняя тень блока */
        -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
        -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
        -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
        /* полная прозрачность окна, появление при клике */
        opacity: 0;
        /* эффект перехода (появление) */
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
    }
    
    /* активируем появление окна и затемнение фона */
    .overlay:target+.popup {
        top: 20%;
        /* положение окна от верха страницы при появлении */
        visibility: visible;
        opacity: 1;
        /* убираем прозрачность */
    }
    
    /* формируем кнопку закрытия */
    .close {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 0;
        width: 20px;
        height: 20px;
        border: 2px solid #ccc;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        background-color: rgba(61, 61, 61, 0.8);
        -webkit-box-shadow: 0px 0px 10px #000;
        -moz-box-shadow: 0px 0px 10px #000;
        box-shadow: 0px 0px 10px #000;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        line-height: 20px;
        /* задаём значения и эффект перехода при наведении */
        -webkit-transition: all ease .8s;
        -moz-transition: all ease .8s;
        -ms-transition: all ease .8s;
        -o-transition: all ease .8s;
        transition: all ease .8s;
    }
    
    .close:before {
        color: rgba(255, 255, 255, 0.9);
        content: "X";
        text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
        font-size: 12px;
    }
    
    .close:hover {
        background-color: rgba(252, 20, 0, 0.8);
        /* крутим кнопку при наведении */
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    
    /* опционально при добавлении вложений */
    .popup p,
    .popup div {
        margin-bottom: 10px;
    }
    
    
    /* button */
    
    .button {
    
        font-size: 20px;
        color: white;
        width: 270px;
        text-decoration: none;
        padding: 10px 5px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        font-family: Helvetica, Arial, sans-serif;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        cursor: pointer;
    }
    h4 {
        text-align:center;
        margin-top: 30px;
        font-size: 17px;
    }
    footer {
        padding-top: 150px;
        float: both;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    
    .fot {
        background-color: #22292f;
        padding-bottom: 7px;
        padding-top: 7px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .fottext {
        color: white;
        text-align: center;
        background-color: #22292f;
    }
    iframe {
        margin-top: 50px;
    }
    
    .vkont:hover,
    .vkont:link,
    .vkont:visited,
    .vkont:active,
    .vkont:focus {
        color: black;
        text-decoration: none;
    }
    
    .img {
        margin: auto;
        background-image: url(vk.png);
        background-size: cover;
        width: 100px;
        height: 100px;
        margin-bottom: 30px;
    }
    
    .text-in-block1 {
        text-align: center;
    }

    li {
        width: 300px;
    }
}

@media (min-width: 726px) {
header {
    background-image: url(head.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    background-attachment: fixed;
    border-bottom: solid white 10px;
}

.text-head {
    color: black;
    background-color: rgba(255, 255, 255, 0.795); 
    border-radius: 10px;
    padding: 10px;
}

.upward {
    position: fixed;
    bottom: 600px;
    right: 40px;
    width: 70px;
    height: 70px;
    background: url(arrow_up.png);
    background-size: cover;
    z-index: 1;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.upward.active {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}

.menu {
    color: black;
    margin: 60px auto 10px auto;
    width: 200px;
}

.menu a:link,
.menu a:visited {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.menu a:hover,
.menu a:focus {
    color: #878787;
    transition: 0.5s;
}

.text-in-block {
    font-size: 17px;
    margin: 20px auto 0 auto;
    flex-wrap: wrap;
    width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
}

.command {
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 50px;
}
#project {
    margin-top: -10px;
}

.pupil1 {
    margin: 0 auto;
    background-image: url(me.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 500px;
}
.pupil2 {
    margin: 0 auto;
    background-image: url(Kate.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 500px;
}

.outer-div {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    margin-top: 50px;
    display: block;
    padding: 30px;
    justify-content: center;
}

.inner-div {
    display: inline-block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.name {
    margin: 0 auto;
    display: flex;
    text-align: center;
    width: 220px;
    background-color: #ffa047;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    transform: skew(-40deg);
    border: solid black 1px;
}

.name p {
    transform: skew(40deg);
    background-color: #ffa047;
    border-radius: 30px;
    text-align: center;
    width: 190px;
}

.name:hover,
.name:link,
.name:visited,
.name:active,
.name:focus {
    color: black;
    text-decoration: none;
    text-align: center;
}


h3 {
    text-align: center;
    margin-top: 40px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border: none;
    height: 2px;
    color: #ffa047;
    background-color: #ffa047;
    margin-top: -40px;
    width: 600px;
}

.h3 {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border: none;
	border-top: 2px dotted #ddd;
    color: black;
    background-color: black;
    margin-top: 40px;
    width: 500px;
}

iframe {
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.stage {
    margin: 30px auto 10px auto;
    width: 500px;
}

.about-text1 {
    width: 300px;
    display: inline-block;
}

.about-text2 {
    width: 300px;
    display: inline-block;
}

.about {
    display: block;
    margin: 0 auto;
}

/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: fixed;
    /* фиксированное поцизионирование */
    cursor: default;
    /* тип курсара */
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.is-image {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: 10;
    width: 100%;
    height: auto;
    /* скругление углов встроенных картинок */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

/* встроенные элементы м-медиа, фреймы */
embed,
iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}

.popup h1 {
    /* заголовок 1 */
    color: #008000;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    font: 24px 'Trebuchet MS', Helvetica, sans-serif;
    font-weight: bold;
}

.popup h2 {
    /* заголовок 2 */
    color: #008000;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    font: 22px 'Trebuchet MS', Helvetica, sans-serif;
}

/*** Формируем стили модального окна ***/
.popup {
    top: 0;
    right: 0;
    left: 0;
    font-size: 17px;
    z-index: 10;
    display: block;
    visibility: hidden;
    margin: 0 auto;
    width: 90%;
    min-width: 320px;
    max-width: 600px;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    /* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    /* внешняя тень блока */
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    /* полная прозрачность окна, появление при клике */
    opacity: 0;
    /* эффект перехода (появление) */
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

/* активируем появление окна и затемнение фона */
.overlay:target+.popup {
    top: 20%;
    /* положение окна от верха страницы при появлении */
    visibility: visible;
    opacity: 1;
    /* убираем прозрачность */
}

/* формируем кнопку закрытия */
.close {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    /* задаём значения и эффект перехода при наведении */
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}

.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}

.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    /* крутим кнопку при наведении */
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* опционально при добавлении вложений */
.popup p,
.popup div {
    margin-bottom: 10px;
}


/* button */

.button {

    font-size: 20px;
    color: white;
    width: 270px;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-family: Helvetica, Arial, sans-serif;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
}
h4 {
    text-align:center;
    margin-top: 30px;
    font-size: 17px;
}
footer {
    padding-top: 150px;
    float: both;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.fot {
    background-color: #22292f;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 0px;
    padding-right: 0px;
}

.fottext {
    color: white;
    text-align: center;
    background-color: #22292f;
}
iframe {
    margin-top: 50px;
}

.vkont:hover,
.vkont:link,
.vkont:visited,
.vkont:active,
.vkont:focus {
    color: black;
    text-decoration: none;
}

.img {
    margin: auto;
    background-image: url(vk.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.text-in-block1 {
    text-align: center;
}
}

